// justfy size
@desktop: ~"screen and (min-width: 1200px)";
@tablet:  ~"screen and (min-width: 940px)";
@phone:  ~"screen and (max-width: 940px)";

// justfy color
@color1: #000000;
@color2: #1d1d1d;
@color3: #3d3d3d;
@color4: #727272;
@color5: #979797;
@color6: #b9b9b9;
@color7: #cfcfcf;
@color8: #eeeeee;
@color9: #ffffff;



// common
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  text-decoration: none;
}
// animation
.show {
  opacity: 0.4 !important;
}
.visible {
  display: fixed !important;
  opacity: 1 !important;
}
.hidden {
  display: none;
  opacity: 0 !important;
}
// main style
nav {
  width: 100%;
  position: absolute;
  font-family: 'Trebuchet Ms';
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: all 0.5s ease;
    ul {
      position: relative;
      z-index: 12;
      height: 100%;
      margin: 0 auto 0 auto;
      width: 800px;
      transition: all 0.5s ease;
      li {
        text-align: center;
        opacity: 0.8;
        float: left; 
        width: 20%;
        height: 100%;
        font-size: 1.1rem;
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 100px;
        color: #000;
        transition: all 0.5s ease;
        cursor: pointer;
      }
    }
    .bg_trans {
      position: absolute;
      top: 0;
      background: #000;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 11;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }
  }
}
main {
  position: relative;
  // top: 100px;
  >div {
    position: relative;
    width: 100%;
    font-size: 2rem;
    overflow: hidden;
    // VIDEO
    &:nth-child(1) {
      video {
        position: relative;
        z-index: 1;
        display: block;
      }
      .darken {
        position: absolute;
        z-index: 2;
        background: #FFF;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        top: 0;
      }
      .contentsContainer {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 0;
        .contents {
          position: relative;
          width: 100%;
          height: 100%;
          max-width: 640px;
          background-image: url("../assets/img/second.png");
          margin: 0 auto;
          opacity: 0.75;
        }
      }
    }
    // INSTRODUCTION
    &:nth-child(2) {
      background-image: linear-gradient( 135deg, @color2 10%, @color3 100%);
      color: #fff;
      .Icon {
        position: absolute;
        width: 1200px;
        height: 1200px;
        z-index:0;
        opacity: 0.35;
        left: 33%;
        top: 20%;
        .keyframes(
          fade-in-desktop;{
            0% {
              opacity: 0.10;
              width: 1400px;
              height: 1400px;
              left: -10%;
              top: -40%;
            }
            100% {
              opacity: 0.30;
              width: 1400px;
              height: 1400px;
              left: -10%;
              top: -40%;
            }
          }
        );
        .keyframes(
          fade-in-phone;{
            0% {
              opacity: 0.10;
              width: 1850px;
              height: 1850px;
              left: -35%;
              top: 0%;
            }
            100% {
              opacity: 0.30;
              width: 1850px;
              height: 1850px;
              left: -40%;
              top: 0%;
            }
          }
        );
        @media @phone {
          .animation(
            fade-in-phone 2s ease-in-out infinite alternate;
          )
        }
        @media @tablet {
          .animation(
            fade-in-phone 2s ease-in-out infinite alternate;
          )
        }
        @media @desktop {
          .animation(
            fade-in-desktop 2s ease-in-out infinite alternate;
          )
        }
      }
      .container {
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        .posterBox {
          width: 60%;
          margin: 0 auto;
          float: initial;
          @media @tablet {
            width: 80%;
            margin: 0 auto;
            float: initial;
          }
          @media @desktop {
            width: 40%;
            float: right;
          }
          .posterRoom {
            width: 80%;
            height: 80%;
            padding: 10%;
            .poster {
              width: 100%;
              height: 100%;
              background-image: url("../assets/img/poster1.jpg");
              background-size: cover;
              box-shadow: 0 0 10px #000;
            }
          }
        }
        .contentsContainer {
          position: relative;
          width: 100%;
          float: initial;
          @media @tablet {
            width: 100%;
            float: initial;
          }
          @media @desktop {
            width: 60%;
            float: right;
          }
          .contents {
            width: 80%;
            height: 90%;
            padding: 10%;
            padding-top: 0;
            @media @tablet {
              height: 90%;
              padding-top: 0;
            }
            @media @desktop {
              height: 80%;
              padding-top: 10%;
            }
            * {
              margin-bottom: 2rem;
              text-align: justify;
            }
            h1 {
              font-size: 2.5rem;
            }
            p {
              font-size: 1.3rem;
              text-indent: 2rem;
            }
          }
        }
      }
    }
    // KEYNOTE SPEAKER
    &:nth-child(3) {
      background-image: linear-gradient( 135deg, @color5 10%, @color9 100%);
      .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 30px;
        .introduction {
          width: 100%;
          text-align: center;
          padding: 30px 0 0 0;
          color: @color1;
          h1 {
            padding: 0 10px 5px 10px;
            overflow: hidden;
            position: relative;
            display: inline-block;
            border: solid 5px @color2;
            font-size: 3rem;
            @media @tablet {
              font-size: 4rem;
            }
          }
        }
        .person {
          width: 150px;
          height: 150px;
          margin: 20px;
          cursor: pointer;
          &:before {
            content:"";
            z-index: 1;
            opacity: 0;
            position: absolute;
            background-color: #fff;
            border-radius: 10%;
            height: 150px;
            width: 150px;
            box-shadow: 0 0 15px #fff;
            transition: 0.3s ease;
          }
          &:hover {
            &:before {
              opacity: 0.3;
            }
          }
          // Image insert
          &:nth-child(2) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person01.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com01.png);
              }
            }
          }
          &:nth-child(3) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person02.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com02.png);
              }
            }
          }
          &:nth-child(4) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person03.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com03.png);
              }
            }
          }
          &:nth-child(5) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person04.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com04.png);
              }
            }
          }
          &:nth-child(6) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person05.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com05.png);
              }
            }
          }
          &:nth-child(7) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person06.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com06.png);
              }
            }
          }
          &:nth-child(8) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person07.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com07.png);
              }
            }
          }
          &:nth-child(9) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person08.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com08.png);
              }
            }
          }
          &:nth-child(10) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person09.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com09.png);
              }
            }
          }
          &:nth-child(11) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person10.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com10.png);
              }
            }
          }
          &:nth-child(12) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person01.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com01.png);
              }
            }
          }
          &:nth-child(13) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person02.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com02.png);
              }
            }
          }
          &:nth-child(14) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person03.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com03.png);
              }
            }
          }
          &:nth-child(15) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person04.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com04.png);
              }
            }
          }
          &:nth-child(16) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person05.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com05.png);
              }
            }
          }
          &:nth-child(17) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person06.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com06.png);
              }
            }
          }
          &:nth-child(18) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person07.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com07.png);
              }
            }
          }
          &:nth-child(19) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person08.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com08.png);
              }
            }
          }
          &:nth-child(20) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person09.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com09.png);
              }
            }
          }
          &:nth-child(21) {
            div {
              &.personPicture {
                background-image: url(../assets/img/person/person10.jpg);
              }
              &.companyLogo {
                background-image: url(../assets/img/companyLogo/com10.png);
              }
            }
          }
          div {
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            float: left;
            &.personPictureRoom {
              margin: 20px 5px 15px 0;
              width: 50px;
              height: 50px;
              border: solid 2px @color3;
              .personPicture {
                border: none;
                width: 80%;
                height: 80%;
                padding: 10%;
              }
            }
            &.companyLogoRoom {
              width: 70px;
              height: 70px;
              border: solid 2px @color2;
              .companyLogo {
                border: none;
                width: 80%;
                height: 80%;
                padding: 10%;
              }
            }
          }
          p {
            clear: both;
            font-size: 0.8rem;
            line-height: 0.8rem;
            margin-bottom: 0.3rem;
            text-align: left;
            &.name {
              font-weight: bold;
            }
            &.job {
            }
            &.department {
            }
            &.company {
              font-weight: bold;
            }
          }
        }
      }
    }
    // MAP
    &:nth-child(4) {
      background-image: linear-gradient( 135deg, @color2 10%, @color3 100%);
      color: #fff;
      .Icon {
        position: absolute;
        width: 100%;
        height: 1200px;
        z-index:0;
        left: 0;
        top: -70%;
        .keyframes(
          fade-in-desktop;{
            0% {
              opacity: 0.15;
              width: 100%;
              height: 1200px;
              left: 0;
              top: -70%;
            }
            100% {
              opacity: 0.25;
              width: 100%;
              height: 1200px;
              left: 0;
              top: -70%;
            }
          }
        );
        .keyframes(
          fade-in-phone;{
            0% {
              opacity: 0.15;
              width: 1200px;
              height: 1200px;
              left: 0;
              top: 0;
            }
            100% {
              opacity: 0.25;
              width: 1200px;
              height: 1200px;
              left: 0;
              top: 0;
            }
          }
        );
        @media @phone {
          .animation(
            fade-in-phone 2s ease-in-out infinite alternate;
          )
        }
        @media @tablet {
          .animation(
            fade-in-phone 2s ease-in-out infinite alternate;
          )
        }
        @media @desktop {
          .animation(
            fade-in-desktop 2s ease-in-out infinite alternate;
          )
        }
      }
      .container {
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        @media @tablet {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: center;
        }
        .mapBox {
          width: 60%;
          margin: 0 auto;
          float: initial;
          @media @tablet {
            width: 80%;
            margin: 0 auto;
            flex: 4;
          }
          .mapRoom {
            width: 80%;
            height: 80%;
            padding: 10%;
            .map {
              width: 100%;
              height: 100%;
              background-image: url("../assets/img/map.png");
              background-size: cover;
              box-shadow: 0 0 10px #000;
            }
          }
        }
        .contentsContainer {
          position: relative;
          width: 100%;
          float: initial;
          @media @tablet {
            width: 100%;
            flex: 6;
          }
          .contents {
            width: 80%;
            height: 90%;
            padding: 5% 10%;
            padding-top: 0;
            @media @tablet {
              height: 90%;
              padding: 5% 10%;
            }
            @media @desktop {
              height: 90%;
              padding: 5% 10%;
            }
            * {
              text-align: left;
            }
            h1 {
              font-size: 2.5rem;
              margin-bottom: 2rem;
            }
            p {
              font-size: 1.3rem;
              margin-bottom: 0.85rem;
            }
          }
        }
      }
    }
    // REVIEWS
    &:nth-child(5) {
      background-image: linear-gradient( 135deg, @color5 10%, @color9 100%);
      .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        margin: 30px auto;
        .title {
          font-size: 3rem;
          display: inline-block;
          margin: 0 auto;
        }
        .logo {
          display: inline-block;
          width: 200px;
          height: 100px;
          background-image: url(../assets/img/companyLogo/reviewLogo.PNG);
          background-size: cover;
          margin: 30px auto;
        }
        .contents {
          font-size: 1.4rem;
          font-weight: 300;
          display: inline-block;
          margin: 0 auto;
        }
        .author {
          font-size: 1.4rem;
          font-weight: 300;
          display: inline-block;
          margin: 20px auto 20px auto;
        }
        .dot {
          font-size: 1rem;
          display: inline-block;
          margin: 30px auto 20px auto;
        }        
      }
    }
    // APPLY
    &:nth-child(6) {
      background-image: linear-gradient( 135deg, @color1 10%, @color2 100%);
      .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 100%;
        margin: 30px auto;
        color: @color9;
        .title {
          font-size: 2.4rem;
          display: inline-block;
          margin: 20px auto 50px auto;
          @media @tablet {
            font-size: 3rem;
          }
        }
        .name {
          font-size: 1.2rem;
          font-weight: 200;
          display: flex;
          margin: 15px auto;
          transition: 0.6s ease;
          input {
            width: 400px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-bottom: solid 2px @color9;
            transition: 0.6s ease;
            color: @color9;
            &:focus {
              border-bottom: solid 1px @color9;
            }
          }
          p {
            flex: 1;
            transition: 0.6s ease;
            &:nth-child(1) {
              min-width: 120px;
            }
            &:nth-child(2) {
              min-width: 20px;
            }
          }
        }
        .email {
          font-size: 1.2rem;
          font-weight: 200;
          display: flex;
          margin: 15px auto;
          transition: 0.6s ease;
          input {
            width: 400px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-bottom: solid 2px @color9;
            transition: 0.6s ease;
            color: @color9;
            &:focus {
              border-bottom: solid 1px @color9;
            }
          }
          p {
            flex: 1;
            transition: 0.6s ease;
            &:nth-child(1) {
              min-width: 120px;
            }
            &:nth-child(2) {
              min-width: 20px;
            }
          }
        }
        .phone {
          font-size: 1.2rem;
          font-weight: 200;
          display: flex;
          margin: 15px auto;
          transition: 0.6s ease;
          input {
            width: 400px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-bottom: solid 2px @color9;
            transition: 0.6s ease;
            color: @color9;
            &:focus {
              border-bottom: solid 1px @color9;
            }
          }
          p {
            flex: 1;
            transition: 0.6s ease;
            &:nth-child(1) {
              min-width: 120px;
            }
            &:nth-child(2) {
              min-width: 20px;
            }
          }
        }
        .company {
          font-size: 1.2rem;
          font-weight: 200;
          display: flex;
          margin: 15px auto;
          transition: 0.6s ease;
          input {
            width: 400px;
            background-color: rgba(0, 0, 0, 0);
            border: none;
            border-bottom: solid 2px @color9;
            transition: 0.6s ease;
            color: @color9;
            &:focus {
              border-bottom: solid 1px @color9;
            }
          }
          p {
            flex: 1;
            transition: 0.6s ease;
            &:nth-child(1) {
              min-width: 120px;
            }
            &:nth-child(2) {
              min-width: 20px;
            }
          }
        }
        .apply {
          font-size: 1.6rem;
          font-weight: 500;
          display: inline-block;
          margin: 40px auto 20px auto;
          padding: 0 10px 8px 10px;
          border: solid 2px @color8;
          cursor: pointer;
          transition: 0.4s ease;
          &:hover {
            background-color: @color2
          }
        }        
      }
    }
  }
  .up {
    text-align: center;
    height: 300px;
    line-height: 300px;
    font-size: 4rem;
    color: #bdbdbd;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px #949494;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: block;
    background-color: rgb(0, 0, 0);
    &:hover {
      color: #a6a6a6;
      text-shadow: 1px 1px 1px #C9C9C9;
    }
  }
  .personData {
    position: fixed;
    z-index: 500;
    top: 150px;
    height: 400px;
    transition: 0.3s ease;
    margin: 0;
    @media @tablet {
      margin: 0 50px;
      height: 500px;
    }
    @media @desktop {
      margin: 0 50px;
      height: 600px;
    }
    .back {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.8;
      background-color: @color2;
      box-shadow: 0 0 30px @color1;
      transition: 0.3s ease;
    }
    .cancel {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      font-size: 2rem;
      transition: 0.5s ease;
      line-height: 2rem;
      cursor: pointer;
      &:hover {
        background-color: @color2;
      }
    }
    .container {
      position: absolute;
      width: 95%;
      height: 95%;
      margin: 2.5%;
      .main {
        color: @color9;
        .title {
          font-size: 3rem;
          text-align: center;

        }
        .person{
          width: 150px;
          height: 150px;
          border-radius: 10%;
          background-image: url(../assets/img/person/person01.jpg);
          background-size: cover;
        }
        .company{
          width: 150px;
          height: 150px;
          border-radius: 10%;
          background-image: url(../assets/img/companyLogo/com01.PNG);
          background-size: cover;
        }
      }
    }
  }
}

.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}
