// justfy
@desktop: ~"screen and (min-width: 1200px)";
@tablet:  ~"screen and (min-width: 940px)";
@phone:  ~"screen and (max-width: 940px)";

// common
* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  text-decoration: none;
}
// animation
.show {
  opacity: 0.4 !important;
}
// inherit
nav {
  width: 100%;
  position: absolute;
  font-family: 'Trebuchet Ms';
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
    transition: all 0.5s ease;
    ul {
      position: relative;
      z-index: 12;
      height: 100%;
      margin: 0 auto 0 auto;
      width: 800px;
      transition: all 0.5s ease;
      li {
        text-align: center;
        opacity: 0.8;
        float: left; 
        width: 20%;
        height: 100%;
        font-size: 1.1rem;
        list-style: none;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 100px;
        color: #000;
        transition: all 0.5s ease;
        cursor: pointer;
      }
    }
    .bg_trans {
      position: absolute;
      top: 0;
      background: #000;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 11;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
    }
  }
}
main {
  position: relative;
  // top: 100px;
  .contentsBox {
    position: relative;
    width: 100%;
    font-size: 2rem;
    overflow: hidden;
    &:nth-child(1) {
      video {
        position: relative;
        z-index: 1;
        display: block;
      }
      .darken {
        position: absolute;
        z-index: 2;
        background: #FFF;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        top: 0;
      }
      .contentsContainer {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 0;
        .contents {
          position: relative;
          width: 100%;
          height: 100%;
          max-width: 640px;
          background-image: url("../assets/img/second.png");
          background-size: 640px 940px;
          margin: 0 auto;
          opacity: 0.75;
          padding-bottom: calc(200px * 0.3);
        }
      }
    }
    &:nth-child(2) {
      background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
      color: #fff;
      .heartIcon {
        position: absolute;
        width: 1200px;
        height: 1200px;
        z-index:0;
        opacity: 0.35;
        left: 33%;
        top: 20%;
        .keyframes(
          fade-in-desktop;{
            0% {
              opacity: 0.25;
              width: 1350px;
              height: 1350px;
              left: -8%;
              top: -40%;
            }
            100% {
              opacity: 0.35;
              width: 1450px;
              height: 1450px;
              left: -13%;
              top: -45%;
            }
          }
        );
        .keyframes(
          fade-in-phone;{
            0% {
              opacity: 0.25;
              width: 1800px;
              height: 1800px;
              left: -35%;
              top: 25%;
            }
            100% {
              opacity: 0.35;
              width: 1900px;
              height: 1900px;
              left: -40%;
              top: 20%;
            }
          }
        );
        @media @phone {
          .animation(
            fade-in-phone 1.4s ease infinite alternate;
          )
        }
        @media @tablet {
          .animation(
            fade-in-phone 1.4s ease infinite alternate;
          )
        }
        @media @desktop {
          .animation(
            fade-in-desktop 1.4s ease infinite alternate;
          )
        }
      }
      .container {
        overflow: hidden;
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        .posterBox {
          width: 60%;
          margin: 0 auto;
          float: initial;
          @media @tablet {
            width: 80%;
            margin: 0 auto;
            float: initial;
          }
          @media @desktop {
            width: 40%;
            float: right;
          }
          .posterRoom {
            width: 80%;
            height: 80%;
            padding: 10%;
            .poster {
              width: 100%;
              height: 100%;
              background-image: url("../assets/img/poster1.jpg");
              background-size: cover;
            }
          }
        }
        .contentsContainer {
          position: relative;
          width: 100%;
          float: initial;
          @media @tablet {
            width: 100%;
            float: initial;
          }
          @media @desktop {
            width: 60%;
            float: right;
          }
          .contents {
            width: 80%;
            height: 90%;
            padding: 10%;
            padding-top: 0;
            @media @tablet {
              height: 90%;
              padding-top: 0;
            }
            @media @desktop {
              height: 80%;
              padding-top: 10%;
            }
            * {
              margin-bottom: 2rem;
              text-align: justify;
            }
            h1 {
              font-size: 2.5rem;
            }
            p {
              font-size: 1.3rem;
              text-indent: 2rem;
            }
          }
        }
      }
    }
    &:nth-child(3) {
      background-image: linear-gradient( 135deg, rgb(202, 176, 44) 10%, rgb(177, 39, 39) 100%);
    }
    &:nth-child(4) {
      background-image: linear-gradient( 135deg, rgb(211, 205, 31) 10%, rgb(68, 172, 27) 100%);
    }
    &:nth-child(5) {
      background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
    }
  }
  .up {
    text-align: center;
    height: 300px;
    line-height: 300px;
    font-size: 4rem;
    color: #bdbdbd;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px #949494;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    display: block;
    background-color: rgb(0, 0, 0);
    &:hover {
      color: #a6a6a6;
      text-shadow: 1px 1px 1px #C9C9C9;
    }
  }
}

.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}
